* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

    header{
      
        font-family: fantasy;
    }
 
    .topnav{
        overflow: hidden;
        background-color: darkgray ;
        width: 100%;
        height: 20vh;    
    }
    .topnav a {
        float: inline-end;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }   

      .topnav-left{
        float: inline-start;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      body{
        min-height: 80vh;
        /* display: flex; */
        flex-direction: column; 
        background-color: darkgray;
        font-family: serif;
        font-size:x-large; 
        color: #f2f2f2;
        
      }
      

      main{
        
        margin-left: 15vh;
        padding: 85px 24px 96px;
        background-color: violet;
        /* max-width: 80% */
        text-align: center;
      }
       .MainLayout{
        display: grid;
        grid-template-rows: 15vh 50vh 15vh;
        grid-template-columns: repeat(3, 2fr);
       }

      .heading{
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    
      }

      .P1{
        grid-column-start: 1;
        grid-column-end: 3;  
      }
     
        
        .headshot-container{
          grid-row-start: 1;
          grid-row-end: 4;
         grid-column-start: 3;
         grid-column-end: 4;
         /* border: 20px darkgray solid; */
         /* width: 100%; */
         max-width: 100vh; 
         max-height: fit-content;
         display: inline-block;
         align-content: center;
         overflow: hidden;
      }

      .P2{
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: -1;
      }


     .lucy{
      border: 20px darkgray solid;
      max-width: 50vh;
      display: inline-flex;
      overflow: hidden;
      
     }
     
   .yoga{
    border: 20px darkgray solid;
      max-height: 70vh;
      display: inline-flex;
      overflow: hidden;
   } 


  footer{
    background-color: darkgray ;
        width: 100%;
        height: 20vh;  
        padding: 14px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        
   }
   

  .mediaIcon{

padding: 5px;
  }

  




